# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Muehle.iml
# Datasource local storage ignored files
/../../../../../../:\Unity_Projects\Muehle\.idea\.idea.Muehle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
